@use "../utilities/global" as *;

.main {
  display: grid;
  grid-template-rows: 203px repeat(6, 160px);
  row-gap: rem(24px);
  max-width: rem(500px);
  width: 100%;
  z-index: 2;
  @media (min-width: $breakpoint) {
    grid-template: repeat(2, min-content) / repeat(4, 1fr);
    gap: rem(30px);
    max-width: rem(1110px);
  }
}
