@use "../utilities/global" as *;

.card {
  border-radius: 15px;
  padding-top: rem(38px);
  overflow: hidden;
}

.stats {
  background-color: color(dark-blue);
  display: grid;
  grid-template: repeat(2, min-content) / repeat(2, 1fr);
  grid-auto-flow: column;
  row-gap: rem(7px);
  justify-content: space-between;
  align-items: center;
  padding-block: rem(28px);
  padding-inline: rem(24px);
  border-radius: 15px;
  &:hover {
    background-color: hsla(236, 41%, 34%, 1);
  }
}

.activity {
  @include setFont(rem(18px), 21px, 500);
}

.time {
  @include setFont(rem(32px), 38px, 300);
}

.previous_time_frame {
  @include setFont(rem(15px), 18px, 400);
  color: color(pale-blue);
  justify-self: flex-end;
}

.work {
  background: {
    color: color(orange);
    image: url("../../images/icon-work.svg");
    repeat: no-repeat;
    size: 78px 78px;
    position: top -10.91px right 17.42px;
  }
}

.play {
  background: {
    color: color(soft-blue);
    image: url("../../images/icon-play.svg");
    repeat: no-repeat;
    size: 90px 90px;
    position: top -14.04px right 11px;
  }
}

.study {
  background: {
    color: color(light-red);
    image: url("../../images/icon-study.svg");
    repeat: no-repeat;
    size: 78px 78px;
    position: top -6.05px right 17.07px;
  }
}

.exercise {
  background: {
    color: color(lime-green);
    image: url("../../images/icon-exercise.svg");
    repeat: no-repeat;
    size: 79.65px 53.48px;
    position: top -0.42px right 17.62px;
  }
}

.social {
  background: {
    color: color(violet);
    image: url("../../images/icon-social.svg");
    repeat: no-repeat;
    size: 73.6px 100px;
    position: top -15px right 13.48px;
  }
}

.self-care {
  background: {
    color: color(soft-orange);
    image: url("../../images/icon-self-care.svg");
    repeat: no-repeat;
    size: 97.58px 97.58px;
    position: top -18.79px right 7.21px;
  }
}
