@use "../utilities/global" as *;

.user_card {
  border-radius: 15px;
  background-color: color(dark-blue);
  overflow: hidden;
  @media (min-width: $breakpoint) {
    grid-row: 1 / 3;
  }
}

.user {
  background-color: color(blue);
  padding-left: rem(32px);
  padding-top: rem(34px);
  padding-bottom: rem(35px);
  display: flex;
  align-items: center;
  gap: rem(17px);
  border-radius: 15px;
  @media (min-width: $breakpoint) {
    flex-direction: column;
    padding-top: rem(37px);
    padding-left: rem(32px);
    padding-bottom: rem(80px);
    align-items: flex-start;
    gap: rem(40px);
  }
}

.profile_pic {
  width: rem(64px);
  object-fit: cover;
  border: 3px solid white;
  border-radius: 100%;
  @media (min-width: $breakpoint) {
    width: rem(78px);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.report {
  @include setFont(rem(15px), 18px, 400);
  color: color(pale-blue);
  margin-bottom: em(4px, 15px);
  @media (min-width: $breakpoint) {
    margin-bottom: em(3px, 15px);
  }
}

.user_name {
  @include setFont(rem(24px), 28px, 300);
  @media (min-width: $breakpoint) {
    @include setFont(rem(40px), 47px);
  }
}

.timeframes {
  display: flex;
  justify-content: space-around;
  padding-top: rem(24px);
  padding-bottom: rem(25px);
  @include setFont(rem(18px), 21px, 400);
  color: color(pale-blue);
  span {
    cursor: pointer;
    &:hover,
    &:focus {
      color: white;
    }
  }
  @media (min-width: $breakpoint) {
    flex-direction: column;
    padding-top: rem(26px);
    padding-left: rem(32px);
    padding-bottom: rem(32px);
    gap: rem(21px);
  }
}

.active {
  color: white;
}
