@use "utilities/global" as *;

@include setup;

body {
  font-family: $font-rubik;
  background-color: color(very-dark-blue);
  color: white;
  padding: rem(81px) rem(24px);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
